<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Open Authentication Demo</h1>
        <h2>Login Page</h2>
    </header>
    <main>
        <p>Let's first get you logged in!!</p>
        <ul>
            <li>
                <a class="google-btn" href="/auth/google">Login with Google</a>
            </li>
            <li>
                <a class="facebook-btn" href="/auth/facebook">Login with Facebook</a>
            </li>
        </ul>
    </main>
    
</body>
</html>